<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenho na Fila</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}">
</head>
<body>
    <div class="container">
        <h1>Desenho Enviado</h1>


        <!-- Mensagem especial se a posição for 0 -->
        {% if position == 0 %}
        <div class="chegou-sua-vez">
            <h2>Chegou sua vez!!! 🎉🎉</h2>
            <p>Seu desenho será desenhado agora</p>
        </div>
        {% else %}
        <div class="message">
            Seu desenho está na fila, por enquanto pode ver o que os outros desenharam.
        </div>
        <div class="progress-container">
            <div class="progress-bar">
                <div class="progress-bar-fill" style="width: {{ (100 / (position + 1)) }}%;"></div>
            </div>
            <div class="progress-label">
                Restam <strong>{{ position }}</strong> desenhos antes do seu.
            </div>
        </div>
        {% endif %}

        <div class="video-container">
            <video controls autoplay>
                <source src="../static/css/assets/video_cnc.mp4" type="video/mp4">
                Seu navegador não suporta a tag de vídeo.
            </video>
        </div>
        <a href="{{ url_for('index') }}">
            <button class="start-button">Fazer mais um desenho</button>
        </a>
    </div>
</body>
</html>
